@font-face {
  font-family: "Poppins";
  src: url("./Poppins-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "playfairDisplay";
  src: url("./PlayfairDisplay-VariableFont_wght.ttf");
  font-weight: 400;
}
